<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>新增教室</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
</head>
<body>
<div>
	<ul class="layui-nav" lay-filter="">
	  <li class="layui-nav-item"><a href="/back/index">首页</a></li>
	  <li class="layui-nav-item"><a href="/back/index">教室详情</a></li>
	  <li class="layui-nav-item layui-this"><a href="back/showaddRoom">新增教室</a></li>
	  <li class="layui-nav-item"><a href="#" onclick = "return loginout()" >退出登录</a></li>
	</ul>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>新增教室</legend>
</fieldset>
<form action="addRoom" class="layui-form" enctype="multipart/form-data" method="post">
  <div class="layui-form-item">
    <label class="layui-form-label">教室名称</label>
    <div class="layui-input-block">
      <input type="text" name="title" required="required"  placeholder="请输入名称" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">教室描述</label>
    <div class="layui-input-block">
      <input type="text" name="desc" required="required"  placeholder="请输入描述" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">教室容量</label>
    <div class="layui-input-block">
      <input type="text" name="capacity" required="required"  placeholder="请输入容量" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">教室价格</label>
    <div class="layui-input-block">
      <input type="text" name="price" required="required"   placeholder="请输入描述" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">教室折扣</label>
    <div class="layui-input-block">
      <input type="text" name="discount" required="required"   placeholder="请输入折扣" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">上传图片</label>
    <div class="layui-input-block">
      <input type="file" name="file"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">是否免费</label>
    <div class="layui-input-block">
      <input type="radio" name="isFree" value="1" title="是"/>
      <input type="radio" name="isFree" value="0" title="否" checked ="checked"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">备注</label>
    <div class="layui-input-block">
      <input type="text" name="remark"  placeholder="请输入备注" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn">提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
 </form>
</body>
<script th:src="@{/js/jquery-1.11.0.min.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script type="text/javascript">
layui.use(['layer', 'form', 'element'], function(){
	  var layer = layui.layer
	  ,form = layui.form
	  ,element = layui.element
	});
	/*function ajaxSubmit(){
		$.ajax({
	        cache: true,
	        type: "POST",
	        url:"addRoom",
	        data:$('#form0').serialize(),// 你的formid
	        async: false,
	        error: function(request) {
	        	layer.alert("Connection error");
	        },
	        success: function(data) {
	           if(data.status == '200'){
	        	   alert('添加成功');
	        	   window.location.href ="index";
	           }else{
	        	   alert('添加失败');
	        	   location.reload();
	           }
	        }
	    });  
	}*/
	function loginout(){
		$.ajax({
			type : "POST",
			url : "/loginout",
			error : function(data) {
				layer.alert("Connection error");
			},
			success : function(data) {
				if (data.status == '200') {
					alert('退出成功');
					window.location.href ="/tologin";
					location.reload();
				} else {
					alert('注销失败');
					location.reload();
				}
			}
		});
	}
</script>
</html>