<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>教室列表</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body>
<div>
<ul class="layui-nav" >
  <li class="layui-nav-item"><a href="index">首页</a></li>
  <li class="layui-nav-item layui-this"><a href="index">教室详情</a></li>
  <li class="layui-nav-item"><a href="showaddRoom">新增教室</a></li>
  <li class="layui-nav-item"><a href="#" onclick = "return loginout()" >退出登录</a></li>
</ul>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>教室详情</legend>
</fieldset>
<table class="layui-table"  lay-skin="row line" lay-size="lg">
  <thead>
    <tr>
      <th>序号</th>
       <th>教室名称</th>
       <th>描述</th>
       <th>价格</th>
       <th>折扣</th>
       <th>是否免费</th>
       <th>预定/总人数</th>
       <th>备注</th>
       <th>上次更新时间</th>
       <th>操作</th>    
    </tr> 
  </thead>
  <tbody>
    <tr th:each="room,roomStat : ${rooms}">  
			<td th:text="${roomStat.count}"></td> 
	        <td th:text="${room.title}"></td>  
	        <td th:text="${room.desc}"></td> 
	        <td th:text="${room.price}"></td> 
	        <td th:text="${room.discount}"></td> 
	        <td th:if="${room.isFree} ==0" >否</td>
	        <td th:if="${room.isFree} ==1" >是</td>  
	        <td th:text="${room.ordered} + '/' + ${room.capacity}"></td>  
	        <td th:text="${room.remark}"></td>
	        <td th:text="${#dates.format(room.update, 'yyyy-MM-dd')}"></td>  
	        <td>
	        	<a th:href="@{/back/selectUserByroomId(roomId=${room.id})}">预定信息</a> 
		        <a href="#" th:onclick="'showUpdate(' + ${room.id} +')'" >修改</a>  
		        <a href="#" th:onclick="'deleteRoom(' + ${room.id} +')'"  th:if="${room.isDel == 0}">刪除</a> 
		    </td>     
	    </tr>
  </tbody>
  </table>
</body>
<script th:src="@{/js/jquery-1.11.0.min.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script type="text/javascript">
layui.use('element', function() {
	var element = layui.element;
});
	function showUpdate(id) {
		var index = layer.open({
			type : 2,
			title : '修改教室信息',
			area : [ '800px', '600px' ],
			closeBtn : 1,
			shadeClose : true,
			skin : 'yourclass',
			content : 'showupdateRoom?id=' + id,
			end: function () {
                location.reload();
            }
		});
	}
	function deleteRoom(id) {
		$.ajax({
			cache : true,
			type : "POST",
			url : "deleteRoom",
			dataType: "json",
			data : {"id":id,"isDel":"1"},
			async : false,
			error : function(data) {
				layer.alert("Connection error");
			},
			success : function(data) {
				if (data.status == '200') {
					alert('删除成功');
					location.reload();
				} else {
					alert('删除失败');
					location.reload();
				}
			}
		});
	}
	function loginout(){
		$.ajax({
			type : "POST",
			url : "/loginout",
			error : function(data) {
				layer.alert("Connection error");
			},
			success : function(data) {
				if (data.status == '200') {
					alert('退出成功');
					window.location.href ="/tologin";
					location.reload();
				} else {
					alert('注销失败');
					location.reload();
				}
			}
		});
	}
</script>
</html>