<!DOCTYPE HTML>
<html>
<script type="text/javascript" charset="utf-8">
    var wapdbHost = 'http://'+window.location.hostname;
    function __uri(url){
    	return url;
    };
</script>
<head>
<meta charset="utf-8"/>
<title>寰烁-伙乐创客基地</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<!-- 开启对web app程序的支持 -->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!-- 全屏模式浏览 -->
<meta name="apple-touch-fullscreen" content="yes"/>
<!-- 改变Safari状态栏的外观 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<!-- 禁止自动识别5位以上数字为电话 -->
<meta name="format-detection" content="telephone=no"/>

<link type="text/css" rel="stylesheet" href="css/common_3019fea.css"/>

<script type="application/javascript" charset="UTF-8" src="js/loadcss_ef19577.js"></script>
<link rel="stylesheet" type="text/css" href="css/model_list_f1d16b2.css" />
<script>
(function(win){
	document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
	function resizeLayout() {
		setTimeout(function () {
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		}, 500);
	}
	if("onorientationchange" in win) {
		win.addEventListener("orientationchange", function() {
			resizeLayout();
		}, false);
	} else {
		win.addEventListener("resize", function() {
			resizeLayout();
		}, false);
	}
}(window));
</script>
</head>
<body>
<div id="page-head">
    <nav class="backnav">
        <div class="area">
            寰烁-伙乐创客基地
        </div>
    </nav>
    
</div>

<nav class="modelnav">
<ul>
	<li> <a href="javascript:void(0)javascript:void(0);">列表详情</a></li>
</ul>
</nav>


<section class="area" id="modelListArea">
<div class="tit"><h2>教室列表</h2></div>
<ul class="pt_list" th:each="room,roomStat : ${rooms}">
        <li>
            <a th:href="@{/showaddUser(roomId=${room.id})}">
               <!--   <img th:src="${'img/'} + ${roomStat.count%15} +${'.jpg'}" alt=""/>-->
                <img th:src="@{/image(name = ${room.image})}" alt=""/>
                <div class="info">
                    <strong th:text="${room.title}"/>
                    <p>描述：
                    	<span th:text="${#strings.abbreviate(room.desc,35)}"></span>
                    </p>
                    <p>价格：<span class="orange">
                            <em th:if="${room.isFree} == 0" th:text="${#numbers.formatDecimal(room.price * room.discount/ 10,2,2)} + 元"/> 
                            <em th:if="${room.isFree} == 1" th:text="免费"/>
                        </span>
                        </p>
                    <p><span class="orange">
                            <em th:text="${room.ordered}"/> 
                        </span> 人已购</p>
                </div>
            </a>
        </li>
</ul>
</section>
<script src="js/base_e4bb7c0.js" charset="UTF-8"></script>
<script src="js/modellist_aa49925.js" charset="UTF-8"></script>
<div class="gotop">
    <em></em>
</div>

<div id="footer">
    <p class="copyright">&#169; <script Type="text/javascript">document.write(new Date().getFullYear());</script> 山西寰烁 <a href="http://www.huanshuo.net">www.huanshuo.net</a></p>
</div>
</body>
</html>
