<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>登录</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
</head>
<body>
	<fieldset class="layui-elem-field layui-field-title"
		style="margin-top: 20px;">
		<legend>用户登录</legend>
	</fieldset>
	<form id="form0" class="layui-form" onsubmit="ajaxSubmit();return false;">
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="name" required="required"  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-block">
      <input type="password" name="password" required="required"  lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn">提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
 </form>
</body>
<script th:src="@{/js/jquery-1.11.0.min.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
	layui.use('element', function() {
		var element = layui.element;
	});
	function ajaxSubmit() {
		$.ajax({
			cache : true,
			type : "POST",
			url : "/login",
			data : $('#form0').serialize(),// 你的formid
			async : false,
			error : function(request) {
				layer.alert("Connection error");
			},
			success : function(data) {
				if (data.status == '200') {
					alert('登录成功');
					window.location.href = "/back/index";
				} else {
					alert('登录失败');
					location.reload();
				}
			}
		});
	}
</script>
</html>