<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>用户列表</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
</head>
<body>
<div>
<ul class="layui-nav" lay-filter="">
  <li class="layui-nav-item"><a href="/back/index">首页</a></li>
  <li class="layui-nav-item layui-this"><a href="/back/index">教室详情</a></li>
  <li class="layui-nav-item"><a href="/back/showaddRoom">新增教室</a></li>
   <li class="layui-nav-item"><a href="#" onclick = "return loginout()" >退出登录</a></li>
</ul>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>预定用户信息(<span th:text="${#lists.size(users)}"></span>)
  </legend>
<a style="margin-top: 20px;" class="layui-btn layui-btn-radius layui-btn-primary" th:href="@{/back/download(roomId=${roomId})}" th:text="下载用户信息"></a>
</fieldset>
<table class="layui-table"  lay-skin="row line" lay-size="lg">
  <thead>
    <tr>
       <th>序号</th>
       <th>姓名</th>
       <th>性别</th>
       <th>学校</th>
       <th>年级</th>
       <th>手机号</th>
       <th>是否付款</th>
       <th>预定时间</th>
    </tr> 
  </thead>
  <tbody>
    <tr th:each="user,userStat: ${users}">  
			<td th:text="${userStat.count}"></td> 
	        <td th:text="${user.name}"></td>  
	        <td th:text="${user.sex}"></td>  
	        <td th:text="${user.school}"></td>
	        <td th:text="${user.grade}"></td>
	        <td th:text="${user.phone}"></td>  
	        <td th:if="${user.isPaid} == 0">未付款</td>
	        <td th:if="${user.isPaid} == 1">已付款</td> 
	        <td th:text="${#dates.format(user.create, 'yyyy-MM-dd HH:mm:ss')}"></td>  
	    </tr>
  </tbody>
  </table>
</body>
<script th:src="@{/js/jquery-1.11.0.min.js}" type="text/javascript"></script>
<script type="text/javascript">
function loginout(){
	$.ajax({
		type : "POST",
		url : "/loginout",
		error : function(data) {
			layer.alert("Connection error");
		},
		success : function(data) {
			if (data.status == '200') {
				alert('退出成功');
				window.location.href ="/tologin";
				location.reload();
			} else {
				alert('注销失败');
				location.reload();
			}
		}
	});
}
</script>
</html>