<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>更新教室信息</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>修改教室信息</legend>
</fieldset>
<form action="updateRoom" class="layui-form" enctype="multipart/form-data" method="post">
	<input name="id" type="hidden" th:attr="value=${room.id}"/>
  <div class="layui-form-item">
    <label class="layui-form-label">教室名称</label>
    <div class="layui-input-block">
      <input type="text" name="title" th:attr="value=${room.title}" required="required"  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">教室描述</label>
    <div class="layui-input-block">
      <input type="text" name="desc" th:attr="value=${room.desc}" required="required"  lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">教室容量</label>
    <div class="layui-input-block">
      <input type="text" name="capacity" th:attr="value=${room.capacity}" required="required"  lay-verify="required" placeholder="请输入容量" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">教室价格</label>
    <div class="layui-input-block">
      <input type="text" name="price" th:attr="value=${room.price}" required="required"  lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">教室折扣</label>
    <div class="layui-input-block">
      <input type="text" name="discount" th:attr="value=${room.discount}" required="required"  lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">修改图片</label>
    <div class="layui-input-block">
      <input type="file" name="file"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">是否免费</label>
    <div class="layui-input-block" th:if="${room.isFree} ==0" >
      <input type="radio" name="isFree" value="1" title="是"/>
      <input type="radio" name="isFree" value="0" title="否" checked ="checked"/>
    </div>
    <div class="layui-input-block" th:if="${room.isFree} ==1" >
      <input type="radio" name="isFree" value="1" title="是" checked ="checked"/>
      <input type="radio" name="isFree" value="0" title="否" />
    </div>
    
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">备注</label>
    <div class="layui-input-block">
      <input type="text" name="remark" th:attr="value=${room.remark}"  lay-verify="required" placeholder="请输入备注" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn">提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
 </form>
</body>
<script th:src="@{/js/jquery-1.11.0.min.js}" type="text/javascript"></script>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
<script type="text/javascript">
layui.use(['layer', 'form', 'element'], function(){
	  var layer = layui.layer
	  ,form = layui.form
	  ,element = layui.element
	});
function ajaxSubmit(){
	$.ajax({
        cache: true,
        type: "POST",
        url:"updateRoom",
        data:$('#form0').serialize(),// 你的formid
        async: false,
        error: function(data) {
        	layer.alert("Connection error");
        },
        success: function(data) {
           if(data.status == '200'){
        	   alert('修改成功');
        	   var index = parent.layer.getFrameIndex(window.name);  
        	   parent.layer.close(index);  
        	   parent.location.reload();
           }else{
        	   alert('修改失败');
           }
        }
    });  
}
</script>
</html>